@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

body {
  background-color: #bbb;
  text-align: center;
  font-family: 'Special Elite', 'Noto Serif SC', 'Kaiti TC', monospace;
  color:#000;
}

h2 {
  color: #777;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2.5); /* IE */
  -moz-transform: scale(2.5); /* FF */½
  -webkit-transform: scale(2.5); /* Safari and Chrome */
  -o-transform: scale(2.5); /* Opera */
  transform: scale(2.5);
  padding: 12px;
  margin-right: 1em;
  display: block;
  float: left;
  border: 1px solid green;
}

table {
  border-collapse: collapse;
}
td {
  font-size: 0.9em;
}
tr:nth-child(even) td {
    background-color: #d2d2d2;
}
td, th {
    border: 1px dotted #8a8a8a;
    padding: 0.4em;
    color: #333;
}
th {
  background-color: #b9b9b9;
  text-align: center;
}
.small {
  font-size: smaller;
  font-style: italic;
}
.withindex td:first-of-type {
  text-align: right;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}
#aboutLink {
  font-size: 9pt;
}
#aboutContent {
  display: none;
  padding:1em 2em;
  border: 1px solid #888;
  border-radius: 20px;
  background-color: #ddd;
  text-align: left;
  color: #000;
  width:80%;
  margin: 0 auto;
  line-height: 1.3em;
}
#aboutContent a {
  border-bottom: 1px dotted #aaa;
}
#layout {
  margin: 2em auto;
  width:80%;
  padding:2em 1em;
  border: 1px solid #777;
  border-radius: 30px;
  background-color: #fff;
}
#tools {
  max-width: 480px;
  text-align: left;
}
#tools h2 {
  text-align: center;
}
.practice #tools div, .practice #tools span {
  text-align: left;
}
#hide {
  display: none;
}
#hideLink {
  text-align: center;
}
a {
  color: #25417a;
  border-bottom-color: #25417a;
  text-decoration: none;
  border-bottom: 1px dotted #1b611c;
}
a.logo {
  border-bottom: none;
}
a:hover {
  color:#259d45;
  border-bottom-color: #259d45;
}

#quicklinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
#quicklinks li {
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-right: 4px;
}
#quicklinks li:last-child {
  margin-right: 0;
}
#quicklinks a {
  display: inline-block;
  padding: 12px 24px 6px 24px;
  border: none;
  border-radius: 24px;
  background-color: #aaa;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-bottom: 8px;
}
#quicklinks a:hover {
  color: #37753f;
  background-color: #ccc;
}


#bc {
  font-size: 15em;
  margin:0;
  padding: 0;
}
#twitter {
  font-size: 2.5em;
}
#tools {
  font-size: 1.1em;
  margin: 0.5em auto;
  padding: 1em;
  border-top: 1px solid #999;
  width: 80%;
  line-height: 1.5em;
}
#tools div {
  margin-bottom: 0.5em;
}
#reload {
  margin-top: 0.6em;
}
#lessons {
  font-size: 0.8em;
  font-style: italic;
  border: 1px dashed #999;
  border-radius: 5px;
  padding: 0.9em;
  margin: 1em auto;
  background-color: #f9f9f9;
  width: fit-content;
  max-width: 80%;
  text-align: center;
}
.anim {
  -webkit-animation: bounce-in-top 1.3s both;
          animation: bounce-in-top 1.3s both;
}